%h1 Help

.p
  Please post all API-related questions on our
  = succeed '.' do
    =link_to 'Developer Mailing List', 'http://groups.google.com/group/artsy-api-developers', target: '_blank'
  Join the mailing list
  = succeed '.' do
    =link_to 'here', 'http://groups.google.com/group/artsy-api-developers/subscribe', target: '_blank'

.p
  For reporting security issues, please see instructions at
  = succeed '.' do
    =link_to 'artsy.net/security', 'https://artsy.net/security', target: '_blank'

.p
  For general API feedback and engineering-related inquiries, please feel free to e-mail
  = succeed '.' do
    =link_to 'engineering@artsy.net', 'mailto:engineering@artsy.net?subject=Artsy%20API%20Feedback', target: '_blank'

.p
  For any non-engineering inquiries, pease e-mail
  = succeed '.' do
    =link_to 'support@artsy.net', 'mailto:support@artsy.net', target: '_blank'
