%h1 Getting Started

Let's make a few API calls to obtain the information for Andy Warhol.

//// authentication

- if authenticated?
  .disabled
    %h4 1. You Already Have an Artsy Account

    You have already signed up to Artsy. If you wish, you may create a separate developer account at
    = succeed '.' do
      =link_to 'artsy.net/sign_up', "https://artsy.net/sign_up?redirect_uri=#{CGI.escape(request.url)}", target: '_blank'

    %h4 2. Signed In

    You're already signed into this developer website.

- else
  %h4 1. Create an Artsy Account

  Sign up for Artsy at
  = succeed '.' do
    =link_to 'artsy.net/sign_up', "https://artsy.net/sign_up?redirect_uri=#{CGI.escape(request.url)}", target: '_blank'

  %h4 2. Sign In

  Sign in to the developer website
  = succeed '.' do
    =link_to 'here', "/sign_in?redirect_uri=#{CGI.escape(request.path)}"

//// app selection

- if authenticated? && ! @selected_client_application && @client_applications.count > 1

  %h4 3. Select One of Your Apps

  You have
  = succeed '.' do
    = pluralize(@client_applications.count, 'app')

  Choose one from the list:

  .select_app
    = bootstrap_form_tag url: '/start', method: 'GET' do |f|
      = f.collection_select :id, @client_applications.map { |a| Hashie::Mash.new(id: a.attributes.id, label: "#{a.attributes.name} (#{a.attributes.client_id})") }, :id, :label, { prompt: true, hide_label: true }, { onchange: "var v = $('.select_app select option:selected').val(); window.location = '/start?id=' + v;" }

- elsif authenticated? && !@selected_client_application

  %h4 3. Create an App

  Create an app
  = succeed '.' do
    = link_to 'here', "/client_applications/new?redirect_uri=#{CGI.escape('/start')}"

- elsif @selected_client_application

  %h4 3. Use Your App

  %table.table.table-bordered.table-striped
    %tbody
      %tr
        %th.text-right Name
        %td= @selected_client_application.attributes.name
      %tr
        %th.text-right Client Id
        %td= @selected_client_application.attributes.client_id
      %tr
        %th.text-right Client Secret
        %td= @selected_client_application.attributes.client_secret

  %h4 4. Get a Token

  Obtain an authentication token that can be used to make API requests by POSTing to /api/tokens/xapp_token.

  Using curl:

  %pre
    = "curl -v -X POST \"#{ArtsyAPI.artsy_api_root}/tokens/xapp_token?client_id=#{@selected_client_application.attributes.client_id}&client_secret=#{@selected_client_application.attributes.client_secret}\" -v"

  With Ruby:

  %pre
    :plain
      require 'net/http'
      require 'json'

      client_id = "#{@selected_client_application.attributes.client_id}"
      client_secret = "#{@selected_client_application.attributes.client_secret}"
      api_url = URI.parse("#{ArtsyAPI.artsy_api_root}/tokens/xapp_token")
      response = Net::HTTP.post_form(api_url, client_id: client_id, client_secret: client_secret)
      xapp_token = JSON.parse(response.body)['token']

  Returns the following JSON.

  %pre
    - xapp_response = JSON.parse(Net::HTTP.post_form(URI.parse("#{ArtsyAPI.artsy_api_root}/tokens/xapp_token"), client_id: @selected_client_application.attributes.client_id, client_secret: @selected_client_application.attributes.client_secret).body)
    - xapp_token = xapp_response['token']
    = JSON.pretty_generate(xapp_response)

  %h4 5. Make Requests

  The token can be used to make API requests.

  %pre
    = "curl -v \"#{ArtsyAPI.artsy_api_root}/artists/andy-warhol\" -H 'X-Xapp-Token:#{xapp_token}' -v"

  Returns a JSON document for Andy Warhol.

  %pre
    - artsy_api = ArtsyAPI.client(xapp_token: xapp_token)
    = JSON.pretty_generate(artsy_api.links.artist.expand(id: 'andy-warhol').resource.response.body)

  Use
  =link_to 'hyperclient', 'https://github.com/codegram/hyperclient', target: '_blank'
  with Ruby.

  %pre
    :plain
      require 'hyperclient'

      xapp_token = "#{xapp_token}"

      api = Hyperclient.new("#{ArtsyAPI.artsy_api_root}").tap do |api|
        api.headers.update('Accept' => 'application/vnd.artsy-v2+json')
        api.headers.update('X-Xapp-Token' => xapp_token)
      end

      # replace with andy-warhol after fix for https://github.com/codegram/hyperclient/issues/58
      andy_warhol = api.links.artist.expand(id: '4d8b92b34eb68a1b2c0003f4').resource

      puts "\#{andy_warhol.attributes.name} was born in \#{andy_warhol.attributes.birthday} in \#{andy_warhol.attributes.hometown}"

  Displays the following.

  %pre
    Andy Warhol was born in 1928 in Pittsburgh, Pennsylvania
