= nav_bar static: :top, brand: 'The art world in your app.', responsive: true do
  = menu_group do
    = menu_item "Home", root_path
    -if authenticated?
      = menu_item "My Apps", client_applications_path
      = menu_item "Playground", playground_path
    = menu_item "Blog", 'http://artsy.github.io', target: '_blank'
    = menu_item "Docs", docs_path
    = menu_item "Help", help_path
  = menu_group pull: :right do
    = menu_item "Terms", terms_path
    -if authenticated?
      = menu_item "Sign Out", sign_out_path
    -else
      = menu_item "Sign In", sign_in_path
= bootstrap_flash
