= nav_bar static: :top, brand: "The art world in your app. &#0153;".html_safe, responsive: true do
  = menu_group do
    = menu_item "Home", root_path
    = menu_item "My Apps", client_applications_path
    = menu_item "Blog", 'http://artsy.github.io', target: '_blank'
    = menu_item "API Docs", docs_path
    = menu_item "Help", help_path
  = menu_group pull: :right do
    = menu_item "Public API Terms", v2_terms_path
    -if authenticated?
      = menu_item "Sign Out", '/sign_out'
    -else
      = menu_item "Sign In", '/auth/artsy/new'
= bootstrap_flash

- unless request.path.include?('/v1')
  .alert.alert-warning
    %p
      Please note, we are in the process of retiring the
      = link_to 'public api.', '/v2'
      The public api, as well as its documentation and playground, may be taken down at any time without additional notice.
      This change will not affect integration partners using our
      = link_to 'partner api.', '/v1'
    %br/
    %p
      If you're an Artsy partner gallery, reach out to your Artsy Liaison or contact our Support team for assistance.
