%h1 Applications
= link_to "Create New", new_client_application_path

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Name
      %th Client ID
      %th Created
      %th &nbsp;

  %tbody
    - @client_applications.each do |client_application|
      %tr
        %td= client_application.attributes.name
        %td= client_application.attributes.client_id
        %td= DateTime.parse(client_application.attributes.created_at).strftime("%B %d, %Y")
        %td
          = link_to 'show', client_application_path(client_application.attributes.id), class: 'btn'
          = link_to 'edit', edit_client_application_path(client_application.attributes.id), class: 'btn btn-primary'
          = link_to 'destroy', client_application_path(client_application.attributes.id), method: :delete, confirm: "Are you sure?", class: 'btn btn-danger'
