%h1 My Apps

- if !@client_applications

  .alert.alert-danger
    There was an error retrieving applications: #{@error}.

- elsif @client_applications.any?
  = link_to "Create a New App", new_client_application_path, class: 'btn'

  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th Name
        %th API Version
        %th Client ID
        %th Created
        %th Enabled
        %th &nbsp;

    %tbody.applications
      - @client_applications.each do |client_application|
        %tr
          %td.name= link_to client_application.name, client_application_path(client_application.id)
          %td.api_version= client_application.api_version
          %td.client_id= client_application.client_id
          %td.created_at= DateTime.parse(client_application.created_at).strftime("%B %d, %Y")
          %td.enabled
            = client_application.enabled ? 'Yes' : 'No'
            -if client_application.enabled && client_application.published_artworks_access_enabled
              + Published Artworks
          %td.actions
            = link_to 'edit', edit_client_application_path(client_application.id), class: 'btn btn-primary'
            // version 1 applications are typically production and are protected in Gravity
            = link_to 'destroy', client_application_path(client_application.id), disabled: client_application.api_version == 1, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger'
- else

  .alert.alert-info
    No apps found
