%h1 New App
= bootstrap_form_for @client_application do |f|
  = f.hidden_field :redirect_uri, value: params[:redirect_uri]
  = f.text_field :name, required: true, placeholder: 'This can be any name that you would recognize.'
  = f.primary 'Save'
  = link_to 'Cancel', 'javascript:history.back()', class: 'btn btn-default'
