%h1 App

= link_to "Back to Apps", client_applications_path, class: 'btn'

- if @client_application.enabled && @client_application.published_artworks_access_enabled
  .alert.alert-success
    This application has access to all published artworks.

%table.table.table-bordered.table-striped
  %tbody#application
    %tr
      %th.text-right Name
      %td#name= @client_application.name
    %tr
      %th.text-right API Version
      %td#api_version= @client_application.api_version
    %tr
      %th.text-right Client Id
      %td#client_id= @client_application.client_id
    %tr
      %th.text-right Client Secret
      %td#client_secret= @client_application.client_secret
    %tr
      %th.text-right Redirect URLs
      %td#redirect_urls
        -if @client_application.redirect_urls && @client_application.redirect_urls.any?
          %pre= @client_application.redirect_urls.join("\n")
        -else
          None
    %tr
      %th.text-right Created
      %td#created_at= DateTime.parse(@client_application.created_at).strftime("%B %d, %Y %H:%M")
    %tr
      %th.text-right Updated
      %td#updated_at= DateTime.parse(@client_application.updated_at).strftime("%B %d, %Y %H:%M")
    %tr
      %th.text-right Enabled
      %td#enabled= @client_application.enabled ? 'Yes' : 'No'
    -if @client_application.roles && @client_application.roles.any?
      %tr
        %th.text-right Roles
        %td#roles= @client_application.roles.join(', ')

= link_to 'Edit', edit_client_application_path(@client_application.id), class: 'btn btn-default'
// version 1 applications are typically production and are protected in Gravity
= link_to 'Destroy', client_application_path(@client_application.id), disabled: @client_application.api_version == 1, method: :delete, confirm: "Are you sure?", class: 'btn btn-danger'
