!!!
%html
  = render 'shared/header'
  = javascript_include_tag 'application'
  = javascript_include_tag 'webhook_deliveries'
  %body
    #holder
      = render 'shared/nav'
      .container.content
        = yield
      = render 'shared/footer'
