%h1 Configure a New Client Application Partner
= bootstrap_form_for [@client_application, @client_application_partner] do |f|
  = f.hidden_field :client_application_id, required: true
  = f.text_field :partner_id, required: true, placeholder: 'Grab a partner ID from your CMS'
  = f.primary 'Save'
  = link_to 'Cancel', 'javascript:history.back()', class: 'btn btn-default'